{% extends "base.html" %} {% block content %} {% load static %}
<div class="bg-black text-white border">
    <div class=" rounded align-baseline ">
        <h3> Hello! I am currently a student at Western Governor's University.</h3>
        <h3> I am in my junior year and pursuing a degree in Software Development.</h3><br>

    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <ul class="list-unstyled text-left">
                    <caption><strong><u>Programming Languages:</u></strong></caption>
                    <li>Python</li>
                    <li>C#</li>
                    <li>Javascript</li>
                </ul>
            </div>
            <div class="col-sm">
                <ul class="list-unstyled text-left">
                    <caption><strong><u>Programming Frameworks:</u></strong></caption>
                    <li>Django</li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
            <div class="col-sm">
                <ul class="list-unstyled text-left">
                    <caption><strong><u>Programming Tools:</u></strong></caption>
                    <li>GitHub</li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
            <div class="col-sm">
                <ul class="list-unstyled text-left">
                    <caption><strong><u>Web Design:</u></strong></caption>
                    <li>HTML</li>
                    <li>CSS</li>
                    <li>Bootstrap</li>
                    <li>PHP</li>
                </ul>
            </div>
            <div class="col-sm">
                <ul class="list-unstyled text-left">
                    <caption><strong><u>Databases:</u></strong></caption>
                    <li>mySQL</li>
                    <li>PostgreSQL</li>
                    <li></li>
                    <li></li>
                </ul>
            </div>
        </div>
    </div>
</div>
{% endblock %}