{% extends "base.html" %} {% block content %} {% load static %}


<section class="mb-4 bg-dark container-sm">

    <!--Section heading-->
    <h2 class="h1-responsive font-weight-bold text-center my-4">Contact Me</h2>
    <!--Section description-->
    <p class="text-center w-responsive mx-auto mb-5">If you would like to know more or arrange an interview please contact me!</p>

    <div class="row">



        <!--Grid column-->
        <div class="row-md-3 text-center">
            <ul class="list-unstyled mb-0">
                <li><i class="fas fa-map-marker-alt fa-2x"></i>
                    <p>Marshall, IN USA</p>
                </li>

                <li><i class="fas fa-phone mt-4 fa-2x"></i>
                    <p>1-765-592-0154</p>
                </li>

                <li><i class="fas fa-envelope mt-4 fa-2x"></i>
                    <p>bixxith@gmail.com</p>
                </li>
            </ul>
        </div>
        <!--Grid column-->

    </div>

</section>

{% endblock %}