 {% load static %}{% extends "base.html" %} {% block content %}

<section class="py-5 text-center container">
    <div class="row py-lg-5">
        <div class="col-lg-6 col-md-8 mx-auto">
            <h1 class="fw-light">{{ job.title }}</h1>
            <img src="{{ job.image.url }}" height=300>
            <p class="lead">{{ job.story }}</p>
            <p>
                <a href="{% url 'portfolio' %}" class="btn btn-primary my-2">Go Back</a>
            </p>

        </div>
    </div>
</section>


{% endblock %}